.title {
  margin-bottom: 5px;
}

.article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--grayscale-gray-3);
}

.text span {
  font-weight: 500;
  color: var(--grayscale-gray-1);
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 133%;
  text-decoration: underline;
  color: var(--main-normal);
  transition: color 0.3s;
}

.link:hover {
  color: var(--orange);
}
