.title {
  margin-bottom: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  align-items: self-start;
}

.catalog {
  margin-bottom: 60px;
}

.product {
  margin-bottom: 40px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 360px;
  gap: 20px;
}
