.title {
  font-weight: 500;
  line-height: 1.33333;
}
.white {
  color: var(--white);
}
.black {
  color: var(--grayscale-black);
}

.verySmall {
  font-size: 14px;
}

.small {
  font-size: 18px;
}

.medium {
  font-size: 24px;
}

.normal {
  font-size: 30px;
}

.big {
  font-size: 36px;
}
