.wrapper {
  padding: 20px 20px 15px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
}

.item {
  display: inline-flex;
  align-items: center;
}

.link {
  color: var(--grayscale-gray-4);
  transition: color var(--transition-fast);
}

.link:hover {
  color: var(--grayscale-gray-2);
}

.current {
  color: var(--grayscale-gray-1);
}

.separator {
  margin: 0 4px;
  color: var(--grayscale-gray-4);
  transition: color var(--transition-fast);
}
