@font-face {
  font-display: swap;
  font-family: "Onest";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Onest-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Onest";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/Onest-Medium.woff2") format("woff2");
}
