.wrapper {
  margin-top: 15px;
  background-color: var(--grayscale-gray-10);
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 138%;
  color: var(--grayscale-black);
  cursor: pointer;
  transition: color 0.3s;
}

.button:hover {
  color: var(--main-normal);
}

.icon {
  transition: transform 0.3s;
}
.isOpen {
  transform: rotate(180deg);
}
