.item {
  display: block;
  background-color: var(--grayscale-gray-10);
  border-radius: 10px;
  padding: 20px;
  height: 180px;
  box-shadow: none;
  transition:
    background-color var(--transition-fast),
    box-shadow var(--transition-fast);
  position: relative;
  overflow: hidden;
}

.item:hover {
  box-shadow: 0 10px 30px 0 rgba(14, 25, 35, 0.1);
  background-color: var(--white);
}

.iconArrow {
  position: absolute;
  top: 20px;
  right: 20px;
  color: transparent;
  transition: color var(--transition-fast);
}

.item:hover .iconArrow {
  color: var(--orange);
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  color: var(--grayscale-gray-1);
  transition: color var(--transition-fast);
}

.item:hover .name {
  color: var(--main-normal);
}

.count {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--grayscale-gray-4);
}

.img {
  position: absolute;
  max-width: 100%;
  display: block;
  top: 50px;
  left: 40px;
}
