.input {
  display: none;
}

.label {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  border-radius: 4px;
  border: 2px solid var(--grayscale-gray-6);
  background-color: transparent;
  transition:
    background-color var(--transition-fast),
    border var(--transition-fast);
}
.label:hover .checkbox {
  border: 2px solid var(--main-hover);
}

.checkboxActive {
  background-color: var(--main-normal);
  border: 2px solid var(--main-normal);
}

.label:hover .checkboxActive {
  background-color: var(--main-hover);
  border: 2px solid var(--main-hover);
}
